<section class="p-2 space-y-8">
  <h2 class="flex flex-row flex-nowrap items-center mb-8">
    <span
      class="flex-none block mx-4 px-4 py-2.5 text-3xl rounded leading-none font-medium text-white"
    >
      Thông số người chơi
    </span>
  </h2>
  <div *ngIf="statistic" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="rounded-2xl py-10 px-10 xl:py-16 xl:px-20 bg-gray-800 flex items-center justify-between flex-col gap-16 lg:flex-row bg-opacity-60"
    >
      <div class="w-full lg:w-60">
        <h2
          class="font-manrope text-4xl font-bold text-white mb-4 text-center lg:text-left"
        >
          {{ statistic.player_name }}
        </h2>
        <p class="text-sm text-white leading-6 text-center lg:text-left">
          {{ quote }}
        </p>
      </div>
      <div class="w-full lg:w-4/5">
        <div class="flex flex-col flex-1 gap-10 lg:flex-row lg:justify-between">
          <div class="flex flex-col justify-center items-center rounded p-4">
            <div
              class="font-manrope font-bold text-4xl text-yellow-600 mb-3 text-center lg:text-left"
            >
              {{ statistic.total_games }}
            </div>
            <span class="text-white text-center block lg:text-left"
              >Tổng số trận đấu
            </span>
          </div>
          <div class="flex flex-col justify-center items-center rounded p-4">
            <div
              class="font-manrope font-bold text-4xl text-yellow-600 mb-3 text-center lg:text-left"
            >
              {{ statistic.total_wins }}
            </div>
            <span class="text-white text-center block lg:text-left"
              >Số trận thắng
            </span>
          </div>
          <div class="flex flex-col justify-center items-center rounded p-4">
            <div
              class="font-manrope font-bold text-4xl text-yellow-600 mb-3 text-center lg:text-left"
            >
              {{ statistic.total_losts }}
            </div>
            <span class="text-white text-center block lg:text-left"
              >Số trận thua</span
            >
          </div>
          <div class="flex flex-col justify-center items-center rounded p-4">
            <div
              class="font-manrope font-bold text-4xl text-yellow-600 mb-3 text-center lg:text-left"
            >
              {{ statistic.win_rate }}
            </div>
            <span class="text-white text-center block lg:text-left"
              >Tỷ lệ thắng</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="statistic"
    class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 bg-opacity-60 flex flex-col md:flex-row gap-8"
  >
    <div
      class="rounded-2xl py-8 px-10 xl:px-20 bg-gray-800 flex flex-col flex-[2] gap-2 bg-opacity-60"
    >
      <div>
        <h2 class="font-manrope text-4xl font-bold text-white mb-4 text-left">
          Phong độ
        </h2>
      </div>
      <div class="w-full">
        <p-chart
          type="line"
          [data]="mannerChartData"
          [options]="mannerChartOptions"
        ></p-chart>
      </div>
    </div>
    <div
      class="rounded-2xl py-8 px-10 xl:px-20 bg-gray-800 flex flex-col gap-2 bg-opacity-60"
    >
      <div>
        <h2 class="font-manrope text-4xl font-bold text-white mb-4 text-left">
          Tỷ lệ
        </h2>
      </div>
      <div class="w-full">
        <p-chart
          type="pie"
          [data]="statChartData"
          [options]="statChartOptions"
        ></p-chart>
      </div>
    </div>
  </div>
  <div *ngIf="statistic" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="rounded-2xl py-10 px-10 xl:py-16 xl:px-20 bg-gray-800 flex items-center justify-between flex-col gap-16 lg:flex-row bg-opacity-60"
    >
      <div>
        <h2
          class="font-manrope text-4xl font-bold text-white mb-4 text-center lg:text-left"
        >
          {{ statistic.most_hero.hero }}
        </h2>
        <p class="text-sm text-white leading-6 text-center lg:text-left">
          Quân được cầm nhiều nhất
        </p>
      </div>
      <div class="w-full lg:w-4/5">
        <div
          class="flex flex-row flex-1 gap-10 lg:gap-2 flex-wrap justify-center lg:justify-start"
        >
          @for (heroStat of statistic.hero_statistics; track heroStat.hero) {
          <div
            class="flex flex-col justify-center items-center w-[100px] border rounded border-gray-400 p-4"
          >
            <div
              class="font-manrope font-bold text-4xl text-yellow-600 mb-3 text-center lg:text-left"
            >
              {{ heroStat.games_played }}
            </div>
            <span class="text-white text-center block font-bold"
              >{{ heroStat.hero }}
            </span>
            <div class="flex content-between gap-1">
              <span
                class="bg-blue-800 text-xs text-white rounded border border-blue-400 p-0.5"
                >W: {{ heroStat.wins }}
              </span>
              <span
                class="bg-red-800 text-xs text-white rounded border border-red-400 p-0.5"
                >L: {{ heroStat.games_played - heroStat.wins }}
              </span>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="statistic" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="rounded-2xl py-10 px-10 xl:py-16 xl:px-20 bg-gray-800 flex items-center flex-col gap-16 lg:flex-row bg-opacity-90"
    >
      @if (statistic.most_won_hero.hero) {
      <div class="w-full lg:w-60">
        <h2
          class="font-manrope text-4xl font-bold text-white mb-4 text-center lg:text-left"
        >
          {{ statistic.most_won_hero.hero }}
        </h2>
        <p class="text-sm text-white leading-6 text-center lg:text-left">
          Quân thắng nhiều nhất ({{ statistic.most_won_hero.wins }})
        </p>
      </div>
      }
      <div class="w-full lg:w-60">
        <h2
          class="font-manrope text-4xl font-bold text-white mb-4 text-center lg:text-left"
        >
          {{ statistic.most_lost_hero.hero }}
        </h2>
        <p class="text-sm text-white leading-6 text-center lg:text-left">
          Quân thua nhiều nhất ({{ statistic.most_lost_hero.losses }})
        </p>
      </div>
    </div>
  </div>
</section>
