.neon-text {
  color: #fff;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
}

.neon-border {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #1e1b4b,
    0 0 0.8rem #1e1b4b, 0 0 0.8rem #1e1b4b, inset 0 0 0.3rem #1e1b4b;
}

::ng-deep .p-dropdown .p-dropdown-items-wrapper {
  /* Your custom styles here */
  background-color: #1e1b4b;
  position: fixed !important;
}

::ng-deep .heroDropdown .p-element.p-dropdown-label.p-inputtext {
  font-size: 12px !important;
  padding: 8px;
}

::ng-deep .p-dropdown .p-dropdown-trigger {
  width: 16px;
}
