<form #form="ngForm" class="pt-0 px-8" (ngSubmit)="onSubmit()">
  <label class="inline-flex items-center cursor-pointer mb-8">
    <input
      type="checkbox"
      class="sr-only peer"
      (change)="toggleManualMode($event)"
      [disabled]="checkSessionLocked()"
    />
    <div
      class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
    ></div>
    <span class="ms-3 text-sm font-medium text-white">Chế độ thủ công</span>
  </label>
  <div class="flex justify-center items-center gap-4 mb-8">
    <p
      class="text-6xl font-extrabold bg-gradient-to-bl from-blue-500 to-indigo-800 bg-clip-text text-transparent leading-normal"
    >
      {{ getCompetitionCategoryTitle() }}
    </p>
  </div>
  @if (totalMembers() === +teamSize && !done ) {
  <div class="flex justify-center items-center gap-4 mb-8">
    <app-ng-button
      buttonText="Bắt đầu"
      buttonType="button"
      (buttonClick)="onStart()"
      [disabled]="
        ['confirmed', 'finished'].includes(sessionStatus) || checkAnyHasNoHero()
      "
    ></app-ng-button>
    <app-ng-button
      buttonText="Kết thúc"
      buttonType="button"
      (buttonClick)="onFinish()"
      [disabled]="
        sessionStatus === '' ||
        sessionStatus === 'finished' ||
        checkAnyHasNoHero()
      "
    ></app-ng-button>
    <app-ng-button
      *ngIf="['confirmed', 'finished'].includes(sessionStatus) && !done"
      buttonText="Huỷ Trận Đấu"
      buttonType="button"
      (buttonClick)="cancelSession()"
    ></app-ng-button>
  </div>
  } @if (sessionStatus === 'finished') {
  <div class="flex items-center justify-center gap-4">
    <label
      htmlFor="countries"
      class="block mb-2 text-sm font-medium text-white"
    >
      Đội thắng:
    </label>
    <select
      id="countries"
      class="bg-black border border-gray-300 text-white text-sm rounded-lg block p-2.5 b placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500 w-[100px]"
      [(ngModel)]="winningTeam"
      [name]="'winningTeam'"
    >
      <option value="1">1</option>
      <option value="2">2</option>
    </select>

    <app-ng-button
      buttonText="Submit"
      buttonType="button"
      (buttonClick)="updateWinningTeam()"
    ></app-ng-button>
  </div>
  }
  <div class="grid grid-rows md:grid-cols-4 gap-4">
    <!-- TEAM1 -->
    <div class="col-span-2 md:col-auto">
      <app-team-board
        [team]="1"
        [teamName]="'Team 1'"
        [elo]="getTeam1Elo()"
        [eloWithHero]="getTeam1EloWithHero()"
        [memberList]="getMemberTeam1()"
        [attendance]="attendance"
        [manualMode]="manualMode"
      ></app-team-board>
    </div>
    <!-- Player board -->
    <div class="col-span-2 flex flex-col justify-center items-center">
      <div
        class="border rounded-lg border-purple-800 p-4 bg-gray-900 bg-opacity-60"
      >
        <div id="container" class="flex-auto">
          <div class="p-0 rounded md:px-8 md:pb-4">
            @for (attendee of attendance; track $index) {
            <input
              type="hidden"
              [name]="'members' + $index"
              [(ngModel)]="attendee.name"
            />
            }
            <fieldset>
              <div class="flex items-center justify-between mb-4">
                <div class="flex items-center justify-center gap-4">
                  <label
                    htmlFor="countries"
                    class="block mb-2 text-sm font-medium text-white"
                  >
                    Kèo:
                  </label>
                  <select
                    id="countries"
                    class="bg-black border border-gray-300 text-white text-sm rounded-lg block p-2.5 b placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500 w-[100px]"
                    (change)="onChangeTeamSize($event)"
                    [name]="'teamSize'"
                  >
                    <option value="8">4-4</option>
                    <option value="6">3-3</option>
                    <option value="4">2-2</option>
                    <option value="2">Solo</option>
                  </select>
                </div>
                <div class="flex items-center justify-center gap-4">
                  <p class="text-white text-center vertical-align">
                    Số người đã chọn: {{ totalAttendees() }}
                  </p>
                </div>
              </div>
              <div class="flex flex-wrap justify-between gap-8 mb-4 mx-auto">
                @for (attendee of attendance; track $index) {
                <div key="{attendee.name}" class="flex">
                  <input
                    type="checkbox"
                    [id]="'checkbox-' + attendee.name"
                    [name]="'members' + $index"
                    [(ngModel)]="attendee.checked"
                    [checked]="attendee.checked"
                    [disabled]="
                      isDisabled(attendee) || checkSessionLocked() || manualMode
                    "
                    class="peer hidden"
                  />
                  <label
                    [for]="'checkbox-' + attendee.name"
                    class="ms-2 text-sm text-white select-none cursor-pointer rounded-lg border-2 py-3 px-6 font-bold transition-colors duration-200 ease-in-out peer-checked:border-4 peer-checked:border-double peer-checked:text-white peer-checked:border-purple-400 peer-checked:bg-gray-400 peer-checked:bg-opacity-30 peer-checked:hover:bg-opacity-10 hover:border-purple-400 hover:border-double peer-disabled:opacity-40 peer-disabled:text-white peer-disabled:hover:border-white w-[120px] text-center bg-opacity-25"
                  >
                    {{ attendee.name }}
                    <div *ngIf="manualMode">
                      {{ attendee.elo }}
                    </div>
                  </label>
                </div>
                }
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center gap-4 mt-8">
        <app-ng-button
          buttonText="Chia Team"
          buttonType="button"
          (buttonClick)="onGenTeam()"
          [disabled]="
            checkSessionLocked() || totalAttendees() < teamSize || manualMode
          "
        ></app-ng-button>
        <app-ng-button
          buttonText="Chia Quân"
          buttonType="button"
          (buttonClick)="onGenHero()"
          [disabled]="
            checkSessionLocked() ||
            totalAttendees() < teamSize ||
            !this.memberList.length
          "
        ></app-ng-button>
      </div>
    </div>
    <!-- TEAM2 -->
    <div class="row-start-2 col-span-2 md:row-auto md:col-auto">
      <app-team-board
        [team]="2"
        [teamName]="'Team 2'"
        [elo]="getTeam2Elo()"
        [eloWithHero]="getTeam2EloWithHero()"
        [memberList]="getMemberTeam2()"
        [attendance]="attendance"
        [manualMode]="manualMode"
      ></app-team-board>
    </div>
  </div>
  <p-dialog [(visible)]="lockDialogVisible" modal [style]="{ width: '500px' }">
    <ng-template pTemplate="headless">
      <div
        class="px-8 py-5 gap-4"
        style="
          border-radius: 12px;
          background-image: radial-gradient(
            circle at left top,
            var(--primary-400),
            var(--primary-700)
          );
        "
      >
        <div>
          <h2 class="text-4xl font-extrabold text-white">
            Chốt vội nếu thấy kèo thơm?
          </h2>
        </div>
        <div class="flex items-center justify-between gap-2">
          <app-ng-button
            buttonText="OK Chốt"
            buttonType="button"
            (buttonClick)="startAndCloseModal()"
            [disabled]="
              ['confirmed', 'finished'].includes(sessionStatus) ||
              checkAnyHasNoHero()
            "
          ></app-ng-button>
          <app-ng-button
            buttonText="Bỏ qua"
            buttonType="button"
            (buttonClick)="closeModal()"
          ></app-ng-button>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</form>
